# foobar2000
foo_audioscrobbler.dll.cfg
foo_out_asio.dll.cfg
foo_scrobble.dll.cfg

# mpv
persistent_config.json
config/mpv/cache/

# notepad++
config/npp/userDefineLangs/
config/npp/backup/
config/npp/cloud/
config/npp/stylers.xml
config/npp/userDefineLang.xml
config/npp/shortcuts.xml
config/npp/session.xml
config/npp/nativeLang.xml